<!--<div>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <img src="assets/img/Go_Logo.png" alt="" style="width: 40%; height: 23%;">
        </li>
        <li class="nav-item px-3">
            <button class="navbar-toggler sidebar-toggler" type="button" data-toggle="sidebar-show">
                <span class="navbar-toggler-icon"></span>
              </button>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#"><i class="fas fa-comment-dollar"></i> Ventas</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Abastecimiento</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/planilla"><i class="fas fa-calendar-alt"></i> Planilla</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/home"><i class="fas fa-truck-loading"></i> Bodega</a>
        </li>
    </ul>
</div>-->
<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="assets/img/Go_Logo.png" width="40" height="23" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="assets/img/Go_Logo.png" width="40" height="23" alt="CoreUI Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
    <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="#"><i class="fas fa-comment-dollar"></i> Ventas</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Abastecimiento</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/planilla"><i class="fas fa-calendar-alt"></i> Planilla</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/home"><i class="fas fa-truck-loading"></i> Bodega</a>
        </li>
    </ul>
</header>