<br>
<form [formGroup]="miFormulario" (submit)="submit(miFormulario.value)">
    <div class="container">
        <div>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ingrese Codigos de Barras y Cantidades:</h5>
                </div>
                <div class="modal-body">
                    <div>
                        <h1 *ngIf="getItems.length === 0">
                            MENSAJE INFORMATIVO O ALERTA
                        </h1>
                        <div formArrayName="items">
                            <div *ngFor="let item of getItems.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                <div class="row">
                                    <div class="col-6">
                                        <input autofocus [appAutofocus]="( focus === pointIndex )" formControlName="producto" type="text" class="form-control" name="codigo" id=codigo{{pointIndex}} placeholder="Codigo" maxlength=13 required (input)="onInputEntry($event, input2)">

                                        <!--#1EF077 VERDE #FF5757 ROJO
                                        onkeyup="if (this.value.length == this.getAttribute('maxlength')) cantidadpointIndex.focus()"-->
                                    </div>
                                    <div class="col-4">
                                        <input #input2 formControlName="cantidad" type="number" class="form-control" name="cantidad" id=cantidad{{pointIndex}} placeholder="Cantidad" required>
                                    </div>
                                    <div class="col-2">
                                        <a class="btn btn-danger" (click)="removeItem(pointIndex)"><i style="color: white;" class="fas fa-times"></i></a>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-6">
                    <!--<button id="mas" type="button" class="btn btn-primary" (click)="addItem(); setFocus(pointIndex)"
                        [disabled]="!miFormulario.valid">Mas Referencias</button>-->
                    <button id="mas" type="button" class="btn btn-primary btn-lg" (click)="addItem(); setFocus(pointIndex)" [disabled]="!miFormulario.valid"><i
                            class="fas fa-plus"></i></button>

                </div>
                <div class="col-4">
                    <div *ngIf="getItems.length !== 0">
                        <!--<button [disabled]="!miFormulario.valid" id="modal" type="button" class="btn btn-success"
                            data-toggle="modal" data-target="#exampleModal">
                            Finalizar
                        </button>-->
                        <button [disabled]="!miFormulario.valid" id="modal" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-primary mb-3">
                    <h6 class="modal-title" id="exampleModalLabel">Confirmación</h6>
                    <button (click)="loading = false" type="button" class="close btn btn-lg" data-dismiss="modal" aria-label="Close">
                        <i style="color: white;" class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h1 class="modal-title">¿Esta seguro de haber finalizado?</h1>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button [disabled]="loading" type="submit" class="btn btn-success btn-lg"><i
                                    class="fas fa-check-circle"></i>
                                Si</button>
                        </div>
                        <div class="col">
                            <button [disabled]="loading" class="btn btn-danger btn-lg" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i> No </button>
                        </div>
                    </div>
                    <div class="" *ngIf="loading" class="mx-auto d-block">
                        <img src="../../assets/img/loading.gif"> Cargando...
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>