<!--<p>login works!</p>-->
<app-header></app-header>
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Inicio de sesión</h3>
            <fieldset>
                <div class="form-group">
                    <input type="text" id="id" name="id" placeholder="Usario" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control" />
                </div>
                <!--<input class="btn btn-lg btn-success btn-block" type="submit" value="Ingresar">-->
                <a routerLink="/home" class="btn btn-lg btn-success btn-block">Ingresar</a>
            </fieldset>
        </div>
    </div>
</div>