<br>
<div class="container">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Informe de Carga: </h5>
        </div>
        <div class="modal-body">
            <div class="alert alert-success" role="alert">
                Recepción <a class="alert-link">{{rec}}</a> creada con exito
            </div>
            <div class="alert alert-success" role="alert">
                Factura <a class="alert-link">{{fac}}</a> creada con exito
            </div>
            <a routerLink="/home" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
</div>