<header class="app-header navbar">
    <app-navbar></app-navbar>
</header>
<div class="app-body">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
</div>